In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rc('font', family='Microsoft JhengHei')

In [4]:
a = pd.read_csv('./data/TMC/TMC_20230525.csv')

In [9]:
from datetime import datetime
import requests
_date = datetime.now()
r_date = datetime.strftime(_date,'%Y%m%d')

try:
    res = requests.get(f'https://www.twse.com.tw/rwd/zh/fund/T86?response=json&date={r_date}&selectType=ALLBUT0999&_=1685065571229')

    if res.status_code != 200:
        print(f'HTTP Error for {r_date}')
except:
    print(f'Cannot get {r_date} data..')

results = res.json()

if 'data' in results.keys() and 'fields' in results.keys():
    df = pd.DataFrame(results['data'],columns=results['fields'])
#     self.data[r_date] = df
    df.to_csv(f'./data/TMC/TMC_{r_date}.csv')  
    print(r_date,'done.')
print(df)

NameError: name 'self' is not defined

In [5]:
b = pd.read_csv('./data/TMC/TMC_20230524.csv')

In [6]:
a.head()

,Unnamed: 0,證券代號,證券名稱,外陸資買進股數(不含外資自營商),外陸資賣出股數(不含外資自營商),外陸資買賣超股數(不含外資自營商),外資自營商買進股數,外資自營商賣出股數,外資自營商買賣超股數,投信買進股數,投信賣出股數,投信買賣超股數,自營商買賣超股數,自營商買進股數(自行買賣),自營商賣出股數(自行買賣),自營商買賣超股數(自行買賣),自營商買進股數(避險),自營商賣出股數(避險),自營商買賣超股數(避險),三大法人買賣超股數
0,0,2330,台積電,"55,529,347","13,106,413","42,422,934",0,0,0,"305,000","216,000","89,000","1,735,086","1,364,467","195,000","1,169,467","643,397","77,778","565,619","44,247,020"
1,1,00893,國泰智能電動車,"28,995,100","1,420,000","27,575,100",0,0,0,0,0,0,"16,033,193","699,000",0,"699,000","24,363,187","9,028,994","15,334,193","43,608,293"
2,2,00715L,期街口布蘭特正2,"7,120,000","855,000","6,265,000",0,0,0,0,0,0,"34,852,692","100,000",0,"100,000","38,536,017","3,783,325","34,752,692","41,117,692"
3,3,3037,欣興,"39,437,519","17,502,677","21,934,842",0,0,0,"1,873,000","23,000","1,850,000","894,107","609,994","211,000","398,994","694,613","199,500","495,113","24,678,949"
4,4,00878,國泰永續高股息,"8,710,098","5,271,644","3,438,454",0,0,0,0,0,0,"17,274,989","21,000","40,000","-19,000","23,327,995","6,034,006","17,293,989","20,713,443"

In [7]:
b.head()

,Unnamed: 0,證券代號,證券名稱,外陸資買進股數(不含外資自營商),外陸資賣出股數(不含外資自營商),外陸資買賣超股數(不含外資自營商),外資自營商買進股數,外資自營商賣出股數,外資自營商買賣超股數,投信買進股數,投信賣出股數,投信買賣超股數,自營商買賣超股數,自營商買進股數(自行買賣),自營商賣出股數(自行買賣),自營商買賣超股數(自行買賣),自營商買進股數(避險),自營商賣出股數(避險),自營商買賣超股數(避險),三大法人買賣超股數
0,0,00715L,期街口布蘭特正2,"8,340,000","3,546,000","4,794,000",0,0,0,0,0,0,"44,271,737",0,0,0,"51,078,737","6,807,000","44,271,737","49,065,737"
1,1,2883,開發金,"24,858,982","14,101,080","10,757,902",0,0,0,"3,706,000","5,000","3,701,000","895,305","1,229,305","453,000","776,305","154,000","35,000","119,000","15,354,207"
2,2,00893,國泰智能電動車,"110,000","224,000","-114,000",0,0,0,0,0,0,"10,822,908",0,0,0,"12,179,528","1,356,620","10,822,908","10,708,908"
3,3,0050,元大台灣50,"7,331,699","29,639","7,302,060",0,0,0,0,0,0,"595,353","325,000","467,567","-142,567","1,173,318","435,398","737,920","7,897,413"
4,4,0056,元大高股息,"1,416,021","210,000","1,206,021",0,0,0,0,0,0,"6,566,439","682,963","62,109","620,854","6,555,280","609,695","5,945,585","7,772,460"